body {
    font-family:Arial, Helvetica, sans-serif;
}

a{ 
    color: inherit; 
    text-decoration: none; 
    /* color:gray; */
}

a:hover {
     color: white; 
}
a:active { text-decoration: none; }
a:visited { text-decoration: none; }


nav {
    height: 80px;
    width: 100vw;
    top:0;
    left:0;
    position: fixed;
    background-color:bisque;
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray
}

.navbar-container{
    height: 60px;
    width:90%;
    background-color:bisque;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-left{
    height: 50px;
    width: 180px;
    /* margin-left: 60px; */
    /* background-color:bisque; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-left:hover {
    color: white;
}

.navbar-right{
    height: 50px;
    width:600px;
    /* margin-right:60px; */
    /* background-color:bisque; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-container{
    display: flex;
    width: 80%;
    flex-flow: row wrap;
    padding: 20px;
    margin: auto;
    margin-top: 200px; 
    list-style: none;
    background-color:antiquewhite;
}

.photo-container{
    width: 400px;
    height: 300px;
    /* background:yellow; */
    border-radius: 50%;
    margin-left: 40px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.photo-image{
    /* width: 80%; */
    height:85%;
}

.info-container{
    width: 700px;
    height: 300px;
    font-family:'Lucida Sans';
    margin-top: 50px;
    margin-left: 120px;
    /* display: flex; */
    align-items: center;
    color:gray
}

.experience-container{
    margin:auto;
    margin-top: 20px;
    width: 80%;
    padding: 20px;
    background-color: antiquewhite;
    display: grid;
    grid-template-rows: 1fr 3fr;
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
        "title1 content1"
        "title2 content2";
    grid-gap: 20px;
    height: 630px;    
}

.experience-all{
    height: 300px;
    display: grid;
    align-items: center;
    /* justify-content: center; */
    background-color:darksalmon;
    opacity:0.6;
}
.experience-title1{
    grid-area: title1;
    font-size: 30px;
    justify-content: center;
}

.experience-content1{
    grid-area: content1;
    font-size: larger;
}

.experience-title2{
    grid-area: title2;
    font-size: 30px;
    justify-content: center;
}

.experience-content2{
    grid-area: content2;
    font-size:larger;
}

li{
    list-style:circle;
}

.font-title{
    font-style: italic;
    font-family: papyrus;
    font-size: 50px;
    color: gray;
}

h4{
    height:10px;
}
