nav {
    height: 80px;
    width: 100vw;
    top:0;
    left:0;
    position: fixed;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-container{
    height: 60px;
    width:90%;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-left{
    height: 50px;
    width: 180px;
    /* margin-left: 60px; */
    /* background-color:bisque; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-right{
    height: 50px;
    width:600px;
    /* margin-right:60px; */
    /* background-color:bisque; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-container{
    /* display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    flex: 0 0 33.333333%;
    justify-content: space-around;
    align-content: flex-start;
    list-style: none; */

    display: flex;
    flex-flow: row wrap;
    /* Then we define how is distributed the remaining space */
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;
    

}

.project-title{
    margin-top:100px;
    display:flex;
    align-items:center;
    justify-content: center;
}

.inner-container{
    background-color: darksalmon;
    width:600px;
    height:400px;
    display:flex;
    margin-top: 10px;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;    
}
.svg-image{
    margin-top: 70px;
    width: 50%;
    height:50%;
    
}
