.contact-title{
    margin-top:220px;
    display:flex;
    align-items:center;
    justify-content: center;
    color:gray;
}

.contact-container{
    display:flex;
    margin-top: 80px;
    align-items: center;
    justify-content: center;
    /* flex-direction: column;  */
}

.contact-item {
    padding: 5px;
    width: 600px;
    height: 50px;
    display:flex;
    align-items: center;
    font-size: 16px;
    font-family: Courier New
    /* justify-content: center;  */
}

li:nth-child(2n+1) {
    background:beige;
}

li:nth-child(2n) {
    background-color: darksalmon;
    opacity:0.6;
    
}

.svg-image{
    /* margin-top: 70px; */
    width: 40px;
    height: 30px;
    /* width: 50%;
    height:50%;     */
}

@media(max-width: 600px) {
    .contact-item{
        width:400px;
    }
}


