

.main-container{
    display: flex;
    width: 80%;
    flex-flow: row wrap;
    padding: 20px;
    margin: auto;
    margin-top: 200px; 
    list-style: none;
    background-color:antiquewhite;
}

.photo-container{
    width: 400px;
    height: 300px;
    /* background:yellow; */
    border-radius: 50%;
    margin-left: 40px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.photo-image{
    /* width: 80%; */
    height:85%;
}

.info-container{
    width: 700px;
    height: 300px;
    font-family:'Lucida Sans';
    margin-top: 50px;
    margin-left: 120px;
    /* display: flex; */
    align-items: center;
    color:gray
}

.experience-container{
    margin:auto;
    margin-top: 20px;
    width: 80%;
    padding: 20px;
    background-color: antiquewhite;
    display: grid;
    grid-template-rows: 1fr 3fr;
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
        "title1 content1"
        "title2 content2";
    grid-gap: 20px;
    height: 1020px;
    /* color:gray;  */
}

.experience-all{
    height: 500px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    background-color:darksalmon;
    opacity:0.6;
}
.experience-title1{
    grid-area: title1;
    font-size: 30px;
    justify-content: center;
}

.experience-content1{
    grid-area: content1;
    font-size: larger;
    background-color: bisque;
    opacity: 1;
    padding-left: 10px;
    color:gray;
}

.experience-title2{
    grid-area: title2;
    font-size: 30px;
    justify-content: center;
}

.experience-content2{
    grid-area: content2;
    font-size:larger;
    background-color: bisque;
    opacity: 1;
    color:gray;
    padding-left: 10px;
}

li{
    list-style:circle;
    font-style: italic;
}

.info-container .font-title{
    font-style: italic;
    font-family: papyrus;
    font-size: 50px;
    color: gray;
}

/* .experience-container h4{
    font-size:10px;
} */

@media(max-width: 800px) {
    .experience-all{
        font-size: small;
        height: 300px;
    }
    .experience-container{
        height: 650px;
    }
    .photo-container{
        width: 200px;
    }
    .info-container{
        width: 200px;
        font-size: x-small;
        margin-left: 40px;
    }
    .info-container .font-title{
        font-size: 30px;
    }
    .photo-image{
        height:50%
    }
}


